.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: #2f303a;
}

.footer-logo {
	color: $white-text-color;
}

.footer-container {
	display: flex;
	align-items: center;

	@media screen and (max-width: 767px) {
		flex-direction: column;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: baseline;

		padding-left: 76px;
		padding-right: 89px;
	}

	@media screen and (min-width: 1200px) {
		align-items: baseline;
	}
}

/* Contacts */

.footer-container-contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin-bottom: 60px;

	@media screen and (min-width: 1200px) {
		margin-right: 70px;
	}
}

.f-contacts {
	min-width: 232px;
}

.f-contacts .link {
	display: block;

	margin-top: 9px;

	color: rgba(255, 255, 255, 0.6);

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-align: center;
	text-decoration: none;

	@media screen and (min-width: 1200px) {
		text-align: start;
	}
}

.f-contacts .town {
	margin-top: 20px;

	color: $white-text-color;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-align: center;
	text-decoration: none;

	@media screen and (min-width: 1200px) {
		text-align: start;
	}
}

/* Networks */

.footer-network-container {
	margin-bottom: 60px;
}

.subscription {
	display: block;

	margin-bottom: 20px;

	color: $white-text-color;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;

	@media screen and (min-width: 1200px) {
		text-align: start;
	}
}

.footer-icon {
	fill: #ffffff;
}

.footer-network {
	display: flex;
	width: 206px;

	.item + .item {
		margin-left: 10px;
	}
}

.footer-network .link {
	display: inline-flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;

	background-color: rgba(255, 255, 255, 0.1);

	align-items: center;
	justify-content: center;
	background-position: center;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: $accent-text-color;
	}
}

/* Form */

.footer-form {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-left: 90px;
		margin-right: 63px;
	}

	@media screen and (min-width: 1200px) {
		display: block;

		margin-left: 93px;
	}
}

.footer-input {
	padding: 15px 16px;

	width: 100%;

	background-color: #2f303a;
	color: #ffffff;

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	@media screen and (max-width: 1199px) {
		margin-bottom: 20px;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 5px;

		width: 358px;
	}

	&::placeholder {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.25;
		align-items: center;

		color: rgba(255, 255, 255, 0.6);
	}
}

.footer-button {
	display: inline-flex;
	align-items: center;

	padding: 10px 28px;

	width: 200px;
	height: 50px;

	color: $white-text-color;
	background-color: $button-bcg-color;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	text-align: center;
	letter-spacing: 0.06em;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 1px solid transparent;
}

.footer-form-icon {
	margin-left: 10px;
}
